:root {
    --color-primary: rgb(106, 106, 209);
    --color-secundary: rgb(69, 189, 169);
    --color-info: rgb(228, 245, 244);
    --color-ball: rgb(118, 134, 43);
    --color-err: rgb(219, 93, 93);
}

body {
    background-color: var(--color-primary);
}

.title-container {
    color: white;
    background-color: var(--color-secundary);
    border-radius: 1.8rem;
}

.title-container>h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: 24px; */
}

.title-container>img {
    max-height: 50%;
    max-width: 60%;
    opacity: 0.5;
}

.container .teacher-card {
    border-radius: 1.0rem;
    /* box-shadow: 0.5rem 1rem 1.5rem 0rem; */
    white-space: normal;
    flex-direction: row;
    position: relative;
    border: none;
}

.container .teacher-card::after {
    content: "";
    border-radius: 1.0rem;
    box-shadow: 0.5rem 1rem 1.5rem 0rem;
    white-space: normal;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(0%);
    z-index: -2;
}

.container .teacher-card::before {
    content: "";
    width: 45px;
    height: 45px;
    transform: rotate( 45deg);
    position: absolute;
    background-color: white;
    box-shadow: 1rem 0.5rem 1.5rem 0rem;
    top: calc(89%);
    left: 75%;
    z-index: -1;
}

/* Con box shadow no sirve así que hacemos el cuadrado anterior */

/* .container .teacher-card::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 25px solid white;
    box-shadow: 0.5rem 1rem 1.5rem 0rem;
    top: 100%;
    left: 75%;
} */

.container .teacher-card .pr-language-section {
    border-radius: 1.0rem;
    background-color: var(--color-info);
    flex-direction: row;
    height: fit-content;
}

.container .teacher-card .pr-language-section>ul>li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: keep-all;
}

.container .teacher-card .pr-language-section>ul>li:nth-last-of-type(1) {
    margin-bottom: 0px;
}

.container .teacher-card .pr-language-section>ul>li>div {
    width: fit-content;
}

.container .teacher-card .pr-language-section .circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: var(--color-ball);
}

.container .form-card {
    border-radius: 1.0rem;
    box-shadow: 0.5rem 1rem 1.5rem 0rem;
    white-space: normal;
    flex-direction: row;
}

.container .form-card .name-section {
    border-bottom: 0.10rem solid var(--color-primary);
}

.container .form-card .name-section .input-ok-style {
    border: 0.25rem solid var(--color-info);
    text-decoration: dotted solid var(--color-info);
}

.container .form-card .name-section .input-ok-style:focus {
    outline-style: none;
    border: 0.25rem solid var(--color-secundary);
}

.container .form-card .name-section .input-err-style {
    outline-style: none;
    border: 0.25rem solid var(--color-err);
}

.container .form-card .btn-sbmt {
    border-radius: 2rem;
    border: 0.3rem solid var(--color-primary);
    background-color: var(--color-secundary);
    color: white;
    max-width: fit-content;
    overflow: hidden;
    justify-content: center;
    font-size: 18px;
    font-weight:bold ;
}

.container .form-card .btn-sbmt:hover {
    outline-style: none;
    border: 0.3rem solid var(--color-secundary);
    background-color: var(--color-primary);
}